footer{ text-align: center;

}
body{ 
    background-color: white);
}
.container-card{
    padding: 50px 0px 50px;
    margin-bottom: 2em;
}
.img-perfil-card{
    display: flex;
    justify-content: center;
}
.card-title{
    font-family: "poppins";
}
.h4{
    height: 1px;
    background-color: black;
    width: 30%;
}
.card-image{
    height: 100px; right: 100px;
    border-radius: 50%;
    margin-top: 1em;
}
.card-perfil{
    background-color: white !important;
    
}
.card-perfil{ box-shadow: 0px 0px 5px rgb(238, 238, 238);}
.botoes-card{
    display: flex;
    justify-content: center;

}
#btn-sobre{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: rgb(8, 5, 5);
    color: white;
    font-weight: 600;
    align-content: center;
 }
#btn-projetos{
    align-content: center;
    font-weight: 600;
    color: white;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: black;
}
.icon-redes-sociais{
    padding: 10px;
    text-align: center;
} 
.title-text{
    margin-top: 1em;
    font-weight: 600;
}
 
.title-subtitle{
    margin-top: 1em;
    
}
.text{
    padding: 5px 17px;
}
.linke-redes-sociais{
    text-decoration: none;
}
.linkes-redes-sociais i{
    color: black;
    font-size: 25px;
    padding: 10px;
} 
#footer-elementos .email { 
    padding: 15px 0px 15px 0px;

}
@media (min-width: 900px) {
   .container-linear{
       background: linear-gradient(to left, #fff 60%, #19a0de 40%);
   }
   .card-col{
       display: flex;
       justify-content: flex-end;
       align-content: center;
       background-color: white !important;
       box-shadow: 5px 10px 0px #292A2D;
   }
   .card-perfil{ color: #fff !important;
   color: #292a2d;
   box-shadow: none !important;
   width: 18em;
   border: none !important;
}
 .text-body{
     box-shadow: none;
}
.text{
    max-width: 40em;
    vertical-align: middle;  
    margin-top: 2em;
}

}
#footer-elementos{
    display: flex !important;
    justify-content: center !important;
} 
.card-body{
    color: black;
}
#texto1{
    
}

#texto2{
    display: none;
}